*{
    font-family: sans-serif;
}
body{
    background-color: #0d0083;

}
.login-signup-box{
    height: 20%;
    margin: auto;
    padding: 2%;
    margin-top: 5%;
    width: 25%;

    vertical-align: middle;
    background-color: white;
    border-radius:5%;
}
.hidden-form{
    display: none;
}

.create-account{
    margin: 10% auto 5%;

}
.create-account > h3{
    width: fit-content;
    margin: auto;
    
}


input[type=text], input[type=password],input[type=email] {
    font-size: 110%;
    width: 100%;
    padding: 3% 5%;
    margin: 2% 0% 8%;
    display: inline-block;
    border: 1px solid #00000038;
    border-radius: 5%;
    box-shadow: 2%;
    box-sizing: border-box;
}

button {
    background-color: #0d0083;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-top: 10% ;
    margin-bottom: 10% ;
    border: 1px solid #000000;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 16px;
}
.container > label{

    font-family: sans-serif;
}
.container > input{
    border-radius: 5%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.switch-acc{

    margin: auto;
    width: fit-content;
    display: block;
}
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}